<div class="end">
    <div class="container">
        <div class="row-md col-md-12 ">
            <div class="col-md-4 lg-footer ">
                <a href="/">
                    <img src="/photo/logo1.png" width="50%" height="auto" />
                </a>
                <br>
                <h3>Công ty cổ phần Nhật Đăng</h3>
                <p class="gt-footer"><b>Nhật Đăng</b><i> cam kết luôn đồng hành và đáp ứng tối đa mọi yêu cầu của khách
                        hàng, luôn đưa ra những giải pháp tối ưu về công nghệ, nhằm mang lại chất lượng phục vụ tốt
                        nhất,
                        nhanh nhất và hiệu quả nhất cho khách hàng</i>
                </p>
            </div>
            <div class="col-md-4 lh-footer ">
                <p><span class="glyphicon glyphicon-map-marker"> </span><b>Trụ sở chính: </b>Số 4 Cẩm Bắc 8, p
                    Hòa Thọ Đông, q Cẩm Lệ, tp Đà Nẵng</p>
                <p><span class="glyphicon glyphicon-map-marker"> </span><b>Chi nhánh: </b>Chung cư VICOLAND Vân
                    Đồn, p Nại Hiên Đông, q Sơn Trà, tp Đà Nẵng</p>

                <p><span class="glyphicon glyphicon-envelope"> </span><b>Email:
                    </b>congtycophannhatdang@gmail.com
                </p>
                <p><span class="glyphicon glyphicon-globe"> </span><b>Facebook: </b><a
                        href="https://www.facebook.com/C%C3%B4ng-ty-c%E1%BB%95-ph%E1%BA%A7n-c%C3%B4ng-ngh%E1%BB%87-Nh%E1%BA%ADt-%C4%90%C4%83ng-102611538572477"
                        target="_blank">
                        Công ty cổ phần Nhật Đăng</a>
                </p>
                <p><span class="glyphicon glyphicon-phone-alt"> </span><b>Hotline: </b>02362233999</p>
                <p>
                    <span class="glyphicon glyphicon-credit-card"></span><b> Ngân hàng MB Bank (Ngân hàng quân đội):
                    </b> 0001123458888
                </p>
                <p>
                    <span class="glyphicon glyphicon-credit-card"></span><b> OCB (NH Phương Đông) :
                    </b> 0053100009367008
                </p>
                <p>
                    <span class="glyphicon glyphicon-credit-card"></span><b> NH ACB bank (Á Châu) :
                    </b> 478888478888
                </p>
                <p>
                    <span class="glyphicon glyphicon-credit-card"></span><b> Vietcombank:
                    </b> 1019759147
                </p>
            </div>
            <div class="col-md-4 map-footer">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.910714209369!2d108.19375861416934!3d16.018162745060803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421a2bd6c722af%3A0x310eb83b03f91f6f!2zNCBD4bqpbSBC4bqvYyA4LCBIw7JhIFRo4buNIMSQw7RuZywgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1621565548842!5m2!1sen!2s"
                    width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

</div>